{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="tasks">
        {% for task_id, task in tasks %}
            <div class="tasks__item">
                <div class="tasks__item-title">
                    <a href="{% url "task" task_id %}">{{ task.title }}</a>
                </div>
                <div class="tasks__item-text">{{ task.text }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}